* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  background-color: rgb(236, 108, 3);
}




.placeholder-custom {
  background-color: transparent !important;
  color: white !important;
}
.placeholder-custom::placeholder {
  color: #fefefe !important;
}


.cursor-pointer {
  cursor: pointer;
}


